.circle1{
    width : 200px;
    height: 200px;
    border: 5px;
    background-color: rgb(23, 23, 33);
    border-radius: 50%;
    position: absolute;
    left: 800px;
    top: 200px; 
    transition: 3.6s;
}
.circle2{
    width: 200px;
    height: 200px;
    border: 5px;
    background-color: rgb(227, 33, 33);
    border-radius: 50%;
    position: absolute;
     right:800px;
    top: 200px;
    transition: 3.5s;

}
.circle3{
    width : 200px;
    height: 200px;
    border: 5px;
    background-color: rgb(92, 92, 216);
    border-radius: 50%;
    position: absolute;
    left:500px;
    top: 400px; 
    transition: 3.6s;
}
.circle4{
    width : 200px;
    height: 200px;
    border: 5px;
    background-color: rgb(127, 178, 45);
    border-radius: 50%;
    position: absolute;
     bottom:300px;
    left: 500px; 
    transition: 3.6s;
}
.circle1:hover{
    transform:scale(1.3);
    left: 0;
   
    transition: 3.5s;
    
    
}
.circle2:hover{
    transform:scale(1.3);
    right: 0;
   
    transition: 3.5s;
}
.circle3:hover{
    transform:scale(1.3);
    top: 0;
   
    transition: 3.5s;
    
    
}
.circle4:hover{
    transform:scale(1.3);
    bottom: 0;
   
    transition: 3.5s;
}